*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background: url(https://cdn.pixabay.com/photo/2017/08/22/12/48/pink-2668847_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.first_div{
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 50%;
  height: 45rem;
  background: wheat;
  animation: transition 7s ease-in;
  box-shadow: 0 5px 25px 0  rgba(0, 0, 0, .25);
}
@keyframes transition {
   0%{opacity: 0%;}
   15%{opacity: 15%;}
   25%{opacity: 25%;}
   50%{opacity: 50%;}
   75%{opacity: 75%;}
   85%{opacity: 85%;}
   100%{opacity: 100%;}
}
#greet{
  text-shadow: 0 5px 25px 0  rgba(0, 0, 0, .25);
  padding: 2%;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(224, 163, 173);
  text-align: center;
  
}
#pic1{
  position: relative;
  top: 0%;
  left: 23%;
  width: 55%;
  height: 45%;
  transform: rotate(270deg);
}
#message{
  padding: 3%;
  margin-top: -2%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}
#word1{
  padding-top: 2%;
  text-align: center;
  font-size: 1.5rem;
  color: darkblue;
  font-weight: bold;
}
.second_div{
  display: block;
  margin: 2% auto;
  border-radius: 20px;
  width: 50%;
  height: 45rem;
  background: wheat;
  animation: transition 7s ease-in;
  box-shadow: 0 5px 25px 0  rgba(0, 0, 0, .25);
}
#pic2{
  position: relative;
  top: 10%;
  left: 23%;
  width: 55%;
  height: 45%;
}
#message2{
  padding: 3%;
  margin-top: 10%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}
#message3{
  padding: 3%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(226, 69, 69);
}
.cat_pics{
  padding: 3%;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 50%;
  height: fit-content;
  background: wheat;
  animation: transition 7s ease-in;
  box-shadow: 0 5px 25px 0  rgba(0, 0, 0, .25);
}
#cat_pic1{
  position: relative;
  top: 10%;
  left: 23%;
  width: 55%;
  height: 60%;
}
#cat_pic2{
  position: relative;
  top: 10%;
  left: 23%;
  width: 55%;
  height: 60%;
}
#cat_pic3{
  position: relative;
  top: 10%;
  left: 23%;
  width: 55%;
  height: 60%;
}
#cat_pic4{
  position: relative;
  top: 10%;
  left: 23%;
  width: 55%;
  height: 60%;
}
#cat_pic5{
  position: relative;
  top: 10%;
  left: 23%;
  width: 55%;
  height: 60%;
}
.video{
  padding: 3%;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  width: 50%;
  height: fit-content;
  background: wheat;
  animation: transition 7s ease-in;
  box-shadow: 0 5px 25px 0  rgba(0, 0, 0, .25);
}
video{
  margin-left: 18%;
}